html{
  font-size: 16px;
}

:root {
  --color1: #000;  /*fonts*/
  --color2: #2469d6;  /*lighting*/
  --color3: #cfe2ff;
  }

body {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* color: black; */
  background: #fff;
  min-width: 320px;
}

img{
  min-width: 100%;
  height: auto;
  
}


section{
  padding: 75px 0;
  box-shadow: 0px 0px 50px 50px #eee;
}

a{
  color: var(--color1);
}

a:hover{
  color: var(--color2);
}

/*--Header--*/

.bg-body-tertiary, .navbar-light, .nav-link, .navbar-brand,.active {
  color:var(--color1);
  font-weight: 600;
  text-transform: uppercase;
  align-items: center;
  background-color: var(--color3);
  box-shadow: 0px 0px 15px 20px rgba(207, 226, 255, 0.9);
}

.nav-link:hover{
  color: var(--color2);
}

.top-menu li a::after {
  content: '';
  color: var(--color2);
  display: block;
  width: 100%;
  background-color: var(--color2);
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}

.top-menu li a:hover::after{
  transform: scale(1);
}


/*--About--*/



/*--Catalog--*/
.item-card{
 
  list-style: none;
}

.item_title{
  font-weight: 600;
}

.img_catalog, .accordion-header{
  border-radius: 1px;
  box-shadow: 0px 0px 25px 10px #fff;
}

.card-discription{
  padding-left: 0;
}

.accordion-button,.accordion-button:not(.collapsed){
  border: 1px solid var(--3);
  background-color: #fff;
  box-shadow: 0px 0px 10px  var(--color3);
}

.accordion-body{
  padding: 8px 3;
}

.catalog{
  background-color: #eee;
}

.list-group-item{
  font-size: 12px;
  padding: 8px 0;
  font-weight:lighter
}


