
.catalogContainer{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background: #cacae7;
  justify-content: space-between;

  
}

.productCard{
  display: flex;
  padding-top: 50px !important;
  align-items: center;
  border: 1px solid #fff;

}

.productImg{
  display: flex;
  height: 400px;
  width: auto !important;
}

.productTitle{
  position: relative;
  width: 300px;
}

.productDiscription{
  position: relative;
}

.productDiscriptionList{
  display: flex;
  flex-direction: column;
}
