
.productionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.productionTitle{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

}

.productionDiscription{
  padding: 10px 200px;
}

.productionImages{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 200px;
}

.prodImg {
  position: relative;

}