
.sertificateContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


.sertificateContainer__title{
  display: flex;
  align-items: center;
  justify-content: center;

}

.sertificateContainer__img{
  display: flex;
  justify-content: space-around;

}

.sertificate{
  position: relative;
}

.sert{
  position: relative;
  max-width: 400px;
}