body{
  background: #fff;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
}

.navBarContainer{
  display: flex;
}

.navBarList{
  display: flex;
  justify-content: flex-end;
  list-style: none !important;
}

.navBarList li{
  padding-right: 10px !important;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-family: monospace;

}

.companyDiscription{
  position: relative;
  padding: 50px 100px;
}

.contactInfoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerTitle{
  position: relative;
}

.contactDiscription{
  display: flex;
}

.footerInfo{
  display: flex;
  flex-direction: column;
  list-style: none !important;
}